
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
    justify-content: space-evenly;
}

header{
    background:white;
    color:#0c1753 ;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: white;
}

.logo{
    width: 10px;
    float: left;
}

li{
    float: right;

}
.menu{
    float: right;
}
.menu li{
    float: left;
    width: 120px;
    height: 70px;
    line-height: 70px;
    font-size: 20px;
    text-align: center;
    list-style: none;
    text-transform: capitalize;

}