
.container{
    width: 100%;
    padding:0;
    margin:auto;
    overflow: hidden;
    justify-content: space-evenly;
}

nav{
    background:white;
    color:#0c1753 ;
    padding-top: 8px;
    min-height: 70px;
    border-bottom: white;
}

.logo{
    width: 9px;
    height: 9px;
    float: left;
}


.menu li{
    float: right;
    width: 120px;
    height: 70px;
    line-height: 70px;
    font-size: 25px;
    text-align: right;
    list-style: none;
    text-transform: capitalize;
    color:#0c1753 ;
    padding: 0 20px 20px;
  font-weight: 900;
}
header{
    display: flex;
    background: #9375ff;
    padding: 10px;
    color: white;

}
.header-text{
    justify-content: start;
    float: left;
    font-size: 40px;
    
}
 .header-img{ 
    justify-content:left;
    float:right;
}
.button{
    padding: 10px 45px;
    text-align: center;
    font-size: 26px;
    font-weight: 800;
    color: #00a69c;
    background: #ffe101;
    border-radius: 15px;
    border: 2px solid #ffe101;

}
.services-h1{
color:#00a69c;
text-align: center;

}
card{
    display: flex;
    padding: 10px 15px;
    

}
.img-services{
    display: flex;
    margin: 15px;
}