
.container{
    width: 100%;
    padding:0;
    margin:auto;
    overflow: hidden;
    justify-content: space-evenly;
}

nav{
    background:white;
    color:#0c1753 ;
    padding-top: 8px;
    min-height: 70px;
    border-bottom: white;
}

.logo{
    width: 9px;
    height: 9px;
    float: left;
}


.menu li{
    float: right;
    width: 120px;
    height: 70px;
    line-height: 70px;
    font-size: 25px;
    text-align: right;
    list-style: none;
    text-transform: capitalize;
    color:#0c1753 ;
    padding: 0 20px 20px;
  font-weight: 900;
}
header{
    background: #9375ff;
padding: 10px;
color: white;

}
header-text{
    float: left;
    
}
header img{ 
    float: right;
}